/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}


/*---------------------
  Header-Section Style 
  ---------------------*/
.header-area{
    background-color: #2D25A0;
    height: 677px;
}
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px 140px 90px 140px;
}
.header-left h2{
    font-size: 64px;
    color: #FFFFFF;
}
.live-button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px 10px 24px;
    color: #FFFFFF;
}
.arrow-icon{
    padding-left: 10px;
}
.live-button:hover{
    color: grey;
    background-color: white;
}
.header:hover .banner{
    transform: scale(1.25); 
}
.banner{
    transition: transform 1s;
}
.header-right img{
    width: 556.01px;
    height: 438px;
}


/*-------------
 players styles 
 --------------*/
.container{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    
}
.players-area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
}
.player-image{
    width: 100%;
    height: 256px;
}
.players{
    box-shadow: 5px 5px 10px grey;
}
.player{
    background-color: #f5f6fa;
    padding: 15px;
    width: 330px;
    height: 474px;
}
.player h2{
    font-size: 28px;
    font-weight: 700;
    
}

.player p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
}

.players:hover .player{
    transform: scale(1.10); 
}

.player{
    transition: transform 1s;
}

/*-----------------
latest videos style 
------------------*/
.all-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.latest-videos{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
}
.video{
    padding: 15px;
    width: 250px;
    height: 300px;
}

/*------------------ 
fifa-partners style 
-------------------*/

.partners-title{
    text-align: center;
    font-weight: 700px;
}
.partners{
    display: flex;
    justify-content: center;
}
.partner{
    margin: 20px 50px 30px 50px;
}
.partner-logo{
    width: 150px;
    height: 80px;
}

/* ----------
footer styles
-------------*/

.footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.footer-container{
    width: 484px;
    height: 213px;
} 
.logo{
    width: 484px;
    height: 110px;
}

.social-icons{
   text-align: center;
}
.icon{
    color: grey;
    padding: 14px;
    font-size: 20px;
}
.copyright{
    text-align: center;
    font-size: 18px;
}

/* media query */

 /* mobile */

 @media only screen and (max-width:360px) {
    .players-area, .videos, .all-partner{
        grid-template-columns: repeat(1, 1fr);
    }
    .container, .all-videos, .partners{
        flex-direction: column; 
        align-items: center;
    }
    /* .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;       
    }*/
    .footer-container{
        width: 100%;
    } 
    .header-area, .footer-area{
        display: none;
    }
    main{
        width: 100%;
    }
    
}
